<h1 class="pageTitle">{{ title }}</h1>

<div class="heroes">
    <div class="heroes-search">
        <label for="heroSearch" class="heroes-searchLabel">Search all heroes: </label>

        <input id="heroSearch" type="text" class="heroes-searchInput" (keyup)="searchTerm$.next($event.target.value)">
    </div>

    <!-- Tried to show bookmarked heroes but failed -->
    <!-- <div>
        <div class="hero" *ngFor="let bookmark of bookmarks">
            <img class="hero-image" src="{{ bookmark.thumbnail.path + '/portrait_incredible.' + bookmark.thumbnail.extension }}" alt="{{ bookmark.name }}">
            <span class="hero-name">{{ bookmark.name }}</span>
        </div>
    </div> -->

    <div *ngIf="searchResults">
        <div class="hero" *ngFor="let result of searchResults" (click)="addBookmark(result)">
            <img class="hero-image" src="{{ result.thumbnail.path + '/portrait_incredible.' + result.thumbnail.extension }}" alt="{{ result.name }}">
            <div class="hero-nameWrapper">
                <span class="hero-name">{{ result.name }}</span>
            </div>
        </div>
    </div>
</div>
