.pageTitle {
  margin: 20px 0 40px;

  font-size: 48px;
  text-align: center;
}

.heroes {
  font-size: 0;
  text-align: center;
}

.heroes-search {
  display: block;

  margin-left: 15px;

  text-align: center;
}

.heroes-searchLabel {
  display: inline-block;

  margin-right: 10px;

  cursor: pointer;

  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.heroes-searchInput {
  display: inline-block;

  width: 200px;
  height: 32px;

  padding: 0 10px;
  margin: 0 0 20px;

  font-size: 16px;
  color: #000;

  background-color: #518cca;

  border: 1px solid #000;
  border-radius: 15px;

  transition: box-shadow .3s;
}

.heroes-searchInput:focus {
  outline: 0;

  box-shadow: 0 0 5px 2px #f78f3f;
}

.hero {
  display: inline-block;

  width: calc(25% - 32px);

  margin: 0 15px 30px;

  vertical-align: middle;

  background-color: #fff;

  border-radius: 0 0 15px 15px;
}

.hero-image {
  width: 100%;
  height: auto;
}

.hero-nameWrapper {
  position: relative;

  min-height: 55px;

  padding: 0 5px;
  margin: 10px 0;

  overflow: hidden;
}

.hero-name {
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;

  font-size: 24px;
  font-weight: bold;

  transform: translateY(-50%);
}


@media (max-width: 1024px) {
  .hero {
    width: calc(33.33333% - 32px);
  }

  .hero-name {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .pageTitle {
    font-size: 32px;
  }

  .heroes-searchLabel {
    font-size: 16px;
  }

  .hero {
    width: calc(50% - 32px);
  }
}

@media (max-width: 480px) {
  .hero {
    width: calc(100% - 32px);
  }

  .hero-nameWrapper {
    min-height: auto;
  }

  .hero-name {
    position: relative;

    transform: none;
  }
}
